@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
:root {
  --color-0: #ffffff; /* test color */
	--color-bg: #fee5ea;
	--color-pink-0: #fb8989;
	--color-pink-1: #fac1cb;
	--color-pink-2: #fdd8de;
	--color-bg-2: #fefefe;
	--img-logo: url(https://seulgether.github.io/seulgether_custom/images/seulgether_logo2.png);
}

* {
	font-family: "Jeju Gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 배경색 */
html, body {
	background: var(--color-bg);
}

/* Top 버튼 이미지 변경 */
#movetotop > img {
	display: none;
}
#movetotop {
	display: inline-block;
	background-image: url(https://seulgether.github.io/seulgether_custom/images/move-to-top.png);
	background-size: contain;
	width: 72px;
	height: 72px;
}

/* 글작성 툴바 테두리 색 */
.fr-toolbar {
	border-top-color: var(--color-pink-0);
}

/* 버튼색 */
.btn-primary {
	background-color: var(--color-pink-2);
	border-color: var(--color-pink-2);
	color: #777;
}

/* 접속자 수 */
#board-info #viewers-area {
	font-size: 12px;
}
#viewers:before {
	content: '지금! 스륵님의 매력에 ';
}
#viewers:after {
	content: '명이 스르륵 녹아 들어 있습니다.';
}

/* 페이지네이션 버튼 */
.pagination>li>a {
	border-radius: 34px;
	border: none;
}

/* 선택된버튼 focus, hover */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: var(--color-pink-0);
}
/* 일반버튼 hover */
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	background-color: var(--color-pink-2);
}
/* 좌우버튼 radius */
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
	border-radius: 34px;
}
