@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
:root {
  --color-0: #ffffff; /* test color */
	--color-bg: #fee5ea;
	--color-pink-0: #fb8989;
	--color-pink-1: #fac1cb;
	--color-pink-2: #fdd8de;
	--color-pink-3: #f9eef0;
	--color-bg-2: #fefefe;
	--color-category-bg: #ffffff;
	--color-box-shadow: #ff8181;
	--color-active: #ff3c3c;
	--color-focus: #ff2222;
	--img-logo: url(./images/seulgether_logo2.png);
	--gif-fni: url(./images/fire-and-ice.gif);
	--gif-ls: url(./images/light-stick.gif);
}

* {
	font-family: "Jeju Gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 배경색 */
html, body {
	height: auto;
	background: var(--color-bg);
}

/* Top 버튼 이미지 변경 */
#movetotop > img {
	display: none;
}
#movetotop {
	display: inline-block;
	background-image: url(./images/to-up-button.gif);
	background-size: contain;
	width: 72px;
	height: 72px;
}

/* 글작성 툴바 테두리 색 */
.fr-toolbar {
	border-top-color: var(--color-pink-0);
}

/* 버튼색 */
.btn-primary {
	background-color: var(--color-pink-2);
	border-color: var(--color-pink-2);
	color: var(--color-active);
}
.btn-primary:hover {
	background-color: var(--color-pink-0);
	border-color: var(--color-pink-0);
}
.btn-primary:active {
	background-color: var(--color-active);
	border-color: var(--color-active);
}
.btn-primary:active:focus {
	background-color: var(--color-focus);
	border-color: var(--color-focus);
}
/* 접속자 수 */
#board-info #viewers-area {
	font-size: 12px;
}
#viewers:before {
	content: '지금! 토깽단 ';
}
#viewers:after {
	content: '명이 작당모의 중입니다...!';
}

/* 게시판 소메뉴 배경색 제거, 하단 보더 추가 */
#article-list #article-list-category {
	background: var(--color-category-bg);
	border-bottom: 2px solid var(--color-pink-1);
}
#article-list #article-list-category > a {
	background: var(--color-category-bg);
	line-height: 15px;
}
#article-list #article-list-category > a.active, #article-list #article-list-category > a:hover {
	background: var(--color-pink-3);
}
#article-list-category i.fa-home {
	color: var(--color-pink-0);
}

/* 페이지네이션 버튼 */
.pagination > li > a {
	border-radius: 34px;
	border: none;
}
.pagination > li > a, .pagination > li > span {
	color: var(--color-pink-0);
}

/* 선택된버튼 focus, hover */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: var(--color-pink-0);
}
/* 일반버튼 hover */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background-color: var(--color-pink-2);
	color: var(--color-active);
}
/* 좌우버튼 radius */
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 34px;
}

/* 하트 아이콘 애니메이션 효과 */
@keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform scale(1.0);
	}
}
@-moz-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform scale(1.0);
	}
}
@-webkit-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform scale(1.0);
	}
}
@-ms-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform scale(1.0);
	}
}
.fa.fa-heart {
	-webkit-animation: beat 1s ease-in 6s infinite;
	-moz-animation: beat 1s ease-in 6s infinite;
	-ms-animation: beat 1s ease-in 6s infinite;
	animation: beat 1s ease-in 6s infinite;
}

/* 이모티콘 변경 */
.fr-command.fr-emoticon[data-param1=JKanStyle]>img {
    width: 24px !important;
    height: 24px !important;
    padding-left: 24px;
    background-image: var(--gif-fni);
    background-size: 100%;
}
.fr-emoticon.fr-deletable > img[alt=JKanStyle]{ 
     width: 92px !important; 
     height: 92px !important; 
     padding-left: 92px;
     background-image: var(--gif-fni);
     background-size: 100%; 
}
.fr-command.fr-emoticon[data-param1=OptimizePrime]>img {
    width: 24px !important;
    height: 24px !important;
    padding-left: 24px;
    background-image: var(--gif-ls);
    background-size: 100%;
}
.fr-emoticon.fr-deletable > img[alt=OptimizePrime]{ 
     width: 92px !important; 
     height: 92px !important; 
     padding-left: 92px;
     background-image: var(--gif-ls);
     background-size: 100%; 
}
