@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
:root {
	--color-bg: #fee5ea;
	--color-pink-a: #a55a5a;
	--color-pink-0: #fb8989;
	--color-pink-1: #fac1cb;
	--color-pink-2: #fdd8de;
	--color-pink-3: #f9eef0;
	--color-bg-2: #fefefe;
	--color-category-bg: #ffffff;
	--color-box-shadow: #ff8181;
	--color-active: #ff3c3c;
	--color-focus: #ff2222;
	--color-active-hover: #e62222;
}

* {
	font-family: "Jeju Gothic","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 배경색 */
html, body {
	height: auto;
	background: var(--color-bg);
}

/* Top 버튼 이미지 변경 */
#movetotop > img {
	display: none;
}
#movetotop {
	display: inline-block;
	background-image: url(./images/rabat_2.png);
	background-size: contain;
  background-repeat: no-repeat;
	width: 72px;
	height: 72px;
}

/* 글작성 툴바 테두리 색 */
.fr-toolbar {
	border-top-color: var(--color-pink-0);
}

/* 버튼색 */
.btn-primary {
	background-color: var(--color-pink-2);
	border-color: var(--color-pink-2);
	color: var(--color-active);
}
.btn-primary:hover {
	background-color: var(--color-pink-0);
	border-color: var(--color-pink-0);
}
.btn-primary:active {
	background-color: var(--color-active);
	border-color: var(--color-active);
}
.btn-primary:focus, .btn-primary:active:focus {
	background-color: var(--color-focus);
	border-color: var(--color-focus);
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
	background-color: var(--color-active-focus);
	border-color: var(--color-active-focus);
}
/* 접속자 수 */
#board-info #viewers-area {
	font-size: 12px;
}
#viewers:before {
	content: '지금! 토깽단 ';
}
#viewers:after {
	content: '명이 작당모의 중입니다...!';
}

/* 게시판 소메뉴 배경색 제거, 하단 보더 추가 */
#article-list #article-list-category {
	background: var(--color-category-bg);
	border-bottom: 2px solid var(--color-pink-1);
}
#article-list #article-list-category > a {
	background: var(--color-category-bg);
	line-height: 15px;
}
#article-list #article-list-category > a.active, #article-list #article-list-category > a:hover {
	background: var(--color-pink-3);
}
#article-list-category i.fa-home {
	color: var(--color-pink-0);
}

/* 추천수 배경 */
#article-list > .article-list-row > .item > .list-header > span {
	background-color: var(--color-pink-0);
}
/* 작성자 색 */
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
	color: var(--color-pink-a);
}
/* 페이지네이션 버튼 */
.pagination > li > a {
	border-radius: 34px;
	border: none;
}
.pagination > li > a, .pagination > li > span {
	color: var(--color-pink-0);
}

/* 선택된버튼 focus, hover */
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: var(--color-pink-0);
}
/* 일반버튼 hover */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background-color: var(--color-pink-2);
	color: var(--color-active);
}
/* 좌우버튼 radius */
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-radius: 34px;
}

/* 하트 아이콘 애니메이션 효과 */
@keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1.0);
	}
}
@-moz-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1.0);
	}
}
@-webkit-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1.0);
	}
}
@-ms-keyframes beat {
	from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1.0);
	}
}
.fa.fa-heart {
	-webkit-animation: beat 1s ease-in 6s infinite;
	-moz-animation: beat 1s ease-in 6s infinite;
	-ms-animation: beat 1s ease-in 6s infinite;
	animation: beat 1s ease-in 6s infinite;
}

/* 이모티콘 변경 */
.fr-command.fr-emoticon[data-param1=SingsNote] > img,
.fr-command.fr-emoticon[data-param1=SingsMic] > img,
.fr-command.fr-emoticon[data-param1=TwitchSings] > img,
.fr-command.fr-emoticon[data-param1=SoonerLater] > img,
.fr-command.fr-emoticon[data-param1=HolidayTree] > img,
.fr-command.fr-emoticon[data-param1=HolidaySanta] > img,
.fr-command.fr-emoticon[data-param1=HolidayPresent] > img,
.fr-command.fr-emoticon[data-param1=HolidayOrnament] > img{
	width: 24px !important;
	height: 24px !important;
	padding-left: 24px;
	background-size: 100%;
}
.fr-emoticon.fr-deletable > img[alt=SingsNote],
.fr-emoticon.fr-deletable > img[alt=SingsMic],
.fr-emoticon.fr-deletable > img[alt=TwitchSings],
.fr-emoticon.fr-deletable > img[alt=SoonerLater],
.fr-emoticon.fr-deletable > img[alt=HolidayTree],
.fr-emoticon.fr-deletable > img[alt=HolidaySanta],
.fr-emoticon.fr-deletable > img[alt=HolidayPresent],
.fr-emoticon.fr-deletable > img[alt=HolidayOrnament]{
	width: 92px !important;
	height: 92px !important;
	padding-left: 92px;
	background-size: 100%;
}

.fr-command.fr-emoticon[data-param1=SingsNote] > img,
.fr-emoticon.fr-deletable > img[alt=SingsNote] {
	background-image: url(./images/fire-and-ice.gif);
}
.fr-command.fr-emoticon[data-param1=SingsMic] > img,
.fr-emoticon.fr-deletable > img[alt=SingsMic] {
	background-image: url(./images/light-stick.gif);
}
.fr-command.fr-emoticon[data-param1=TwitchSings] > img,
.fr-emoticon.fr-deletable > img[alt=TwitchSings] {
	background-image: url(./images/emoticon/seureuk_hi.png);
}
.fr-command.fr-emoticon[data-param1=SoonerLater] > img,
.fr-emoticon.fr-deletable > img[alt=SoonerLater] {
	background-image: url(./images/emoticon/seureuk_sry.png);
}
.fr-command.fr-emoticon[data-param1=HolidayTree] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayTree] {
	background-image: url(./images/emoticon/bloodtrabbit.png);
}
.fr-command.fr-emoticon[data-param1=HolidaySanta] > img,
.fr-emoticon.fr-deletable > img[alt=HolidaySanta] {
	background-image: url(./images/emoticon/rabbit_blue_square.png);
}
.fr-command.fr-emoticon[data-param1=HolidayPresent] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayPresent] {
	background-image: url(./images/emoticon/rabbit_red_square.png);
}
.fr-command.fr-emoticon[data-param1=HolidayOrnament] > img,
.fr-emoticon.fr-deletable > img[alt=HolidayOrnament] {
	background-image: url(./images/emoticon/seureuk_flex.png);
}

/* 눈덩이 굴리기 - 애니메이션은 각 화면에서 정의 */
/* footer {
	background: url(./images/snowball.gif);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 100%;
	-webkit-animation: snowball 20s linear infinite;
	-moz-animation: snowball 20s linear infinite;
	-ms-animation: snowball 20s linear infinite;
	animation: snowball 20s linear infinite;
} */
