@import url("./common.css");

/* 모바일 배경색 */
header, footer {
	background: var(--color-bg);
}

/* 테두리, 기타 강조 배경색 */
header {
	border-bottom-color: var(--color-pink-1);
}
header>#header-area>#header-bar-link, header > #header-search-bar #header-search-btn {
	color: var(--color-pink-1);
}
header > #header-search-bar #header-search-input {
	border-color: var(--color-pink-1);
}
#header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}
