@import url("./common.css");

/* 모바일 배경색 */
header, footer {
	background: var(--color-bg);
}

/* 테두리, 기타 강조 배경색 */
header {
	border-bottom-color: var(--color-pink-1);
}
header>#header-area>#header-bar-link, header>#header-area>#header-search-link, header > #header-search-bar #header-search-btn {
	color: var(--color-pink-1);
}
header > #header-search-bar #header-search-input {
	border-color: var(--color-pink-1);
}
#header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}

/* 메인 로고 */
header > #header-area > a > h1 {
	width: 92.16px;
	background: url(./images/seulgether_logo2.png) no-repeat;
	background-size: contain;
}

/* 상단 메뉴 아이콘 영역 */
#board-info:after {
	display: block;
	clear: both;
	content: '';
}
#board-info > a.board-right-menu {
	border: none;
	padding: 10px;
	color: var(--color-0);
}

/* footer 눈덩이 애니메이션 */
@keyframes snowball {
	from { background-position-x: calc(100% + 342px); }
	to { background-position-x: calc(0% - 342px);}
}
@-moz-keyframes snowball {
	from { background-position-x: calc(100% + 342px); }
	to { background-position-x: calc(0% - 342px);}
}
@-webkit-keyframes snowball {
	from { background-position-x: calc(100% + 342px); }
	to { background-position-x: calc(0% - 342px);}
}
@-ms-keyframes snowball {
	from { background-position-x: calc(100% + 342px); }
	to { background-position-x: calc(0% - 342px);}
}
footer {
	background: url(./images/snowball.gif) no-repeat;
	background-size: contain;
}
