:root {
  --color-0: #ffffff; /* test color */
	--color-bg: #fee5ea;
	--color-pink-0: #fb8989;
	--color-pink-1: #fac1cb;
	--color-pink-2: #fdd8de;
	--color-bg-2: #fefefe;
}
@font-face {
	font-family: 'JejuGothic';
	src: url('https://seulgether.github.io/seulgether_custom/fonts/JejuGothic.ttf');
}

/* Top 버튼 이미지 변경 */
#movetotop > img {
	display: none;
}
#movetotop {
	display: inline-block;
	background-image: url(https://seulgether.github.io/seulgether_custom/images/move-to-top.png);
	background-size: contain;
	width: 72px;
	height: 72px;
}

/* 배경색 */
html, body {
	background: var(--color-bg);
	font-family: JejuGothic,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* 글작성 툴바 테두리 색 */
.fr-toolbar {
	border-top-color: var(--color-pink-0);
}

/* 테두리, 기타 강조 배경색 */
header #header-bar>.row, #article-content-wrapper>.header, #article-list #article-list-category {
	border-top-color: var(--color-pink-1);
}
#main .menu-wrapper>.header, header #header-bar #header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}
header #right-search-form>input[type=text] {
	border-color: var(--color-pink-1);
}
header #right-search-form>#right-search-btn {
	color: var(--color-pink-1);
}

/* 버튼색 */
.btn-primary {
	background-color: var(--color-pink-2);
	border-color: var(--color-pink-2);
	color: #777;
}
