@import url("./common.css");

/* 배경 그라데이션 */
html {
	background: linear-gradient(180deg, var(--color-bg) 0%, #ffced7 45%, #ffbfcc 95%, #ffb0c0 100%);
}
body {
	background-color: transparent;
}
/* 눈내리는 효과 */
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}
@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
body {
/*	background-image: url(./images/snow.png), url(./images/snow3.png), url(./images/snow2.png);
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite; */
}
/* 벚꽃잎 */
@keyframes leaf {
	0% {background-position: 0px 0px, 200px 200px, 400px 400px, 270px 270px;}
	100% {background-position: 600px 600px, -500px 900px, 1200px 1200px, -30px 570px; }
}
@-moz-keyframes leaf {
	0% {background-position: 0px 0px, 200px 200px, 400px 400px, 270px 270px;}
	100% {background-position: 600px 600px, -500px 900px, 1200px 1200px, -30px 570px; }
}
@-webkit-keyframes leaf {
	0% {background-position: 0px 0px, 200px 200px, 400px 400px, 270px 270px;}
	100% {background-position: 600px 600px, -500px 900px, 1200px 1200px, -30px 570px; }
}
@-ms-keyframes leaf {
	0% {background-position: 0px 0px, 200px 200px, 400px 400px, 270px 270px;}
	100% {background-position: 600px 600px, -500px 900px, 1200px 1200px, -30px 570px; }
}
body {
	/* background-image: url(./images/leaf1.png), url(./images/leaf2.png), url(./images/leaf3.png), url(./images/leaf4.png);
	-webkit-animation: leaf 25s linear infinite;
	-moz-animation: leaf 25s linear infinite;
	-ms-animation: leaf 25s linear infinite;
	animation: leaf 25s linear infinite; */
}

/* 비 */
@keyframes rain {
	0% {background-position: 0px 0px, 300px 200px, 500px 500px;}
	100% {background-position: 0px 800px, 300px 1100px, 500px 1200px; }
}
@-moz-keyframes rain {
  0% {background-position: 0px 0px, 300px 200px, 500px 500px;}
	100% {background-position: 0px 800px, 300px 1100px, 500px 1200px; }
}
@-webkit-keyframes rain {
  0% {background-position: 0px 0px, 300px 200px, 500px 500px;}
	100% {background-position: 0px 800px, 300px 1100px, 500px 1200px; }
}
@-ms-keyframes rain {
  0% {background-position: 0px 0px, 300px 200px, 500px 500px;}
	100% {background-position: 0px 800px, 300px 1100px, 500px 1200px; }
}
body {
	background-image: url(./images/rain_1.png), url(./images/rain_2.png), url(./images/rain_3.png);
	-webkit-animation: rain 1s linear infinite;
	-moz-animation: rain 1s linear infinite;
	-ms-animation: rain 1s linear infinite;
	animation: rain 1s linear infinite;
}


/* 메뉴 틈 색 채움 */
#main .menu-wrapper {
	border: none;
}
#main .menu-wrapper .spacer {
	display: none;
}

#main .menu-wrapper > .header {
  border-radius: 8px 8px 0 0;
}
#main .menu-wrapper > a:last-child {
  border-radius: 0 0 8px 8px;
}

/* box-shadow 설정 */
header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame {
  border: 2px solid var(--color-pink-0);
  border-radius: 8px;
  box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px var(--color-pink-0);
}

/* 테두리, 기타 강조 배경색 */
#article-content-wrapper > .header, #article-list #article-list-category {
	border-top-color: var(--color-pink-1);
}
#main .menu-wrapper > .header, header #header-bar #header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}
header #right-search-form > input[type=text] {
	border-color: var(--color-pink-1);
}
header #right-search-form > input[type=text]:focus {
	outline-color: var(--color-pink-0);
}
header #right-search-form > #right-search-btn {
	color: var(--color-pink-1);
}

/* 메인 로고 */
header .row > div:first-child > a {
	display: block;
	width: 144px;
	height: 50px;
	background-image: url(./images/seulgether_logo2.png);
	background-repeat: no-repeat;
	background-size: contain;
}
header .row > div:first-child > a > img {
	display: none;
}

/* 프로필 이미지 위치 조정 */
#board-info #board-info-profile-img {
	float: left !important;
	width: 64px;
  height: 64px;
	transform: translate(-1em, -1em);
  border: none;
  border-radius: 64px;
  margin: 3px 0 0 3px;
  background: #ffffff;
}
/* 상단영역 스타일 */
#board-info {
  height: 67px;
}
#board-info h1 {
  border-bottom: none;
}
#board-info h1 > span {
  transform: translate(8px, 8px);
}
#board-info #board-info-bottom {
  text-align: right;
}
#board-info #board-info-bottom a {
  color: var(--color-pink-0);
}
#board-info #board-info-bottom #addFavoriteBtn i {
  color: var(--color-active);
}

/* 헤더 보더 */
header #header-bar > .row {
	height: 38px;
}

/* 메인 영역 테두리 제거 */
#main #main-content > div.frame {
	/* border: none; */
}

/* 공지 토글버튼 위치 조정 */
#article-list #article-option-area > #article-option-area-toggle-btn {
	margin-top: 2px;
}

/* 게시판 목록 너비 */
#article-list #article-list-category, #article-list > .article-list-row {
	width: calc(100% + 2em);
	border-right: none;
	transform: translateX(-1em);
}

/* 드롭다운 */
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
	opacity: unset;
	transform: unset;
	border: 2px solid var(--color-pink-1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.275);
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
	opacity: 0;
	padding: 8px 0 3px 0px;
}
#latestDropdownMenu > li > a > span.delrow,
#favoriteDropdownMenu > li > a > span.delrow {
	color: var(--color-pink-1);
}
#latestDropdownMenu > li > a > span.delrow:hover,
#favoriteDropdownMenu > li > a > span.delrow:hover {
	background: transparent;
}
#favoriteDropdownMenu > li > a > span.label.label-default {
	background-color: var(--color-pink-1);
}
.dropdown-menu .divider {
	background-color: var(--color-pink-1);
	height: 2px;
	margin: 3px 0;
}


/* footer 눈덩이 애니메이션 */
@keyframes snowball {
	from { background-position-x: calc(100% + 368px); }
	to { background-position-x: calc(0% - 368px);}
}
@-moz-keyframes snowball {
	from { background-position-x: calc(100% + 368px); }
	to { background-position-x: calc(0% - 368px);}
}
@-webkit-keyframes snowball {
	from { background-position-x: calc(100% + 368px); }
	to { background-position-x: calc(0% - 368px);}
}
@-ms-keyframes snowball {
	from { background-position-x: calc(100% + 368px); }
	to { background-position-x: calc(0% - 368px);}
}

/* 우산륵 */
footer > .container {
	position: relative;
}
footer > .container:after {
	display: block;
	content: '';
	background-image: url(./images/ubr_seureuk.png);
	height: 123px;
	width: 174px;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -15px;
	transform: scaleX(-1);
	left: 186px;
}

/* 트위치 라이브 서클 효과 */
@-webkit-keyframes twitchLiveRotateCircle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(180deg); }
  20% { transform: rotate(1turn); }
  to { transform: rotate(1turn); }
}
@keyframes twitchLiveRotateCircle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(180deg); }
  20% { transform: rotate(1turn); }
  to { transform: rotate(1turn); }
}
/* 프사 배경 그라데이션 */
#board-info:before {
  display: block;
  content: '';
  position: absolute;
  top: 3px;
  left: 18px;
  width: 68px;
  height: 68px;
  border-radius: 68px;
  background: linear-gradient(180deg,var(--color-pink-0) 80%,#845bf1);
  -webkit-animation: twitchLiveRotateCircle 10s linear 2s infinite;
  animation: twitchLiveRotateCircle 10s linear 2s infinite;
}
/* 축하 */
#board-info h1 > a:after {
  content: '(특:400일 20.11.29)';
  color: #dedede;
  font-size: 14px;
}
/* ㅡㅔ륵 */
#article-list:after{
	display: block;
	content: '';
	position: absolute;
	right: 0;
	top: 300px;
	background-image: url(./images/u_e.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	transition: width 1s, top 1s;
}
#article-list:hover:after {
	width: 0;
	top: 400px;
	transition: width 0.5s, top 0.5s;
	background-repeat: no-repeat;
}
