@import url("./common.css");

/* 배경 그라데이션 */
html {
	background: linear-gradient(180deg, var(--color-bg) 0%, #ffced7 45%, #ffbfcc 95%, #ffb0c0 100%);
}
body {
	background-color: transparent;
}
/* 눈내리는 효과 */
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	50% {background-color:#b4cfe0;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#6b92b9;}
}
@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
body {
	background-image: url(./images/snow.png), url(./images/snow3.png), url(./images/snow2.png);
	-webkit-animation: snow 20s linear infinite;
	-moz-animation: snow 20s linear infinite;
	-ms-animation: snow 20s linear infinite;
	animation: snow 20s linear infinite;
}

/* 메뉴 틈 색 채움 */
#main .menu-wrapper {
	border: none;
}
#main .menu-wrapper .spacer {
	display: none;
}

/* box-shadow 설정 */
header #header-bar > .row, #main .menu-wrapper, #main #main-content > div.frame {
	box-shadow: 0px 0px 4px 2px var(--color-box-shadow);
}

/* 테두리, 기타 강조 배경색 */
header #header-bar > .row, #article-content-wrapper > .header, #article-list #article-list-category {
	border-top-color: var(--color-pink-1);
}
#main .menu-wrapper > .header, header #header-bar #header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}
header #right-search-form > input[type=text] {
	border-color: var(--color-pink-1);
}
header #right-search-form > #right-search-btn {
	color: var(--color-pink-1);
}

/* 메인 로고 */
header .row > div:first-child > a {
	display: block;
	width: 144px;
	height: 50px;
	background-image: var(--img-logo);
	background-repeat: no-repeat;
	background-size: contain;
}
header .row > div:first-child > a > img {
	display: none;
}

/* 프로필 이미지 위치 조정 */
#board-info #board-info-profile-img {
	float: left !important;
	width: 64px;
	transform: translate(-1em, -1em);
}

/* 헤더 보더 */
header #header-bar > .row {
	height: 38px;
	border: none;
}

/* 메인 영역 테두리 제거 */
#main #main-content > div.frame {
	border: none;
}

/* 공지 토글버튼 위치 조정 */
#article-list #article-option-area > #article-option-area-toggle-btn {
	margin-top: 2px;
}

/* 게시판 목록 너비 */
#article-list #article-list-category, #article-list > .article-list-row {
	width: calc(100% + 2em);
	border-right: none;
	transform: translateX(-1em);
}
