@import url("./common.css");

/* 테두리, 기타 강조 배경색 */
header #header-bar>.row, #article-content-wrapper>.header, #article-list #article-list-category {
	border-top-color: var(--color-pink-1);
}
#main .menu-wrapper>.header, header #header-bar #header-top-notice strong.notice-badge {
	background: var(--color-pink-1);
}
header #right-search-form>input[type=text] {
	border-color: var(--color-pink-1);
}
header #right-search-form>#right-search-btn {
	color: var(--color-pink-1);
}
